# --- Database ---
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=libriflow

CATALOG_DB_USER=catalog_user
CATALOG_DB_PASSWORD=catalog_pass
CATALOG_DB_NAME=catalog_db

USERS_DB_USER=users_user
USERS_DB_PASSWORD=users_pass
USERS_DB_NAME=users_db

TRANSACTION_DB_USER=transaction_user
TRANSACTION_DB_PASSWORD=transaction_pass
TRANSACTION_DB_NAME=transaction_db

NOTIF_DB_USER=notif_user
NOTIF_DB_PASSWORD=notif_pass
NOTIF_DB_NAME=notif_db

# --- JWT ---
JWT_SECRET=change-me-to-a-secure-random-string
JWT_EXPIRES_MINUTES=60

# --- Consul ---
CONSUL_HOST=consul
CONSUL_PORT=8500

# --- SMTP (Mailpit) ---
SMTP_HOST=mailpit
SMTP_PORT=1025
SMTP_FROM=noreply@libriflow.local

# --- Services ---
CATALOG_SVC_URL=http://catalog-svc:8001
USERS_SVC_URL=http://users-svc:8002
TRANSACTION_SVC_URL=http://transaction-svc:8003
NOTIF_SVC_URL=http://notif-svc:8004
